.dropdown-container{
    position: relative;
}
.dropdown{
    display: none;
    position: absolute;
    z-index: 10;
    width: 150px;
    background-color: rgba(75,75,75,.94);
}
.dropdown-container:hover .dropdown{
display: block;
}
a{
    color: #4dc87f;
    text-decoration: none;
}